<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hwwwww.siic.mapper.NurseLevelContentMapper">
  <resultMap id="BaseResultMap" type="com.hwwwww.siic.vo.NurseLevelContent">
    <!--@mbg.generated-->
    <!--@Table nurse_level_content-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="nurse_level_id" jdbcType="INTEGER" property="nurseLevelId" />
    <result column="nurse_content_id" jdbcType="INTEGER" property="nurseContentId" />
    <result column="is_deleted" jdbcType="INTEGER" property="isDeleted" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, nurse_level_id, nurse_content_id, is_deleted
  </sql>
</mapper>